<% header_text = band.persisted? ? "Edit #{band.name}" : "Create a band" %>
<% form_action = band.persisted? ? "/bands/#{band.id}" : "/bands"%>
<% html_verb = band.persisted? ? "PATCH" : "POST" %>
<% button_text = band.persisted? ? "Submit Changes" : "Create Band" %>

<h1><%= header_text %></h1>

<form action="<%= form_action %>" method="post">
  <input type="hidden" name="_method" value="<%= html_verb %>">

  <label for="band_name">Band name</label>
  <input type="text" id="band_name" name="band[name]" value="<%= band.name %>">
  <br>

  <input type="submit" value="<%= button_text %>">
</form>
