<% form_action = cat.persisted? ? "/#{cat.id}" : "" %>
<% form_method = cat.persisted? ? "patch" : "post" %>
<% button = cat.persisted? ? "Submit Data" : "Create Cat!" %>
<% title = cat.persisted? ? "Edit #{ cat.name }!" : "New Cat" %>

<h1><%= title %></h1>
<form action="/cats<%= form_action %>" method="post">
  <input type="hidden" name="_method" value="<%= form_method %>">

  <label for="cat_name">Cat Name</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%= cat.name %>">
  <br>

  <label for="birth_date">Cat Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
  <br>

  <label for="cat_female">Female</label>
  <input type="radio" id="cat_female" name="cat[sex]" value="F" <%= cat.gender_selected('F') %>>


  <label for="cat_male">Male</label>
  <input type="radio" id="cat_male" name="cat[sex]" value="M" <%= cat.gender_selected('M') %>>

  <br>

  <label for="cat_color">Cat Color</label>
  <select name="cat[color]" id="cat_color">
    <option value="default" <%= cat.color_selected(nil) %>>Please select a color</option>
    <option value="white" <%= cat.color_selected("white") %>>White</option>
    <option value="black" <%= cat.color_selected("black") %>>Black</option>
    <option value="orange" <%= cat.color_selected("orange") %>>Orange</option>
    <option value="calico" <%= cat.color_selected("calico") %>>Calico</option>
    <option value="gray" <%= cat.color_selected("gray") %>>Gray</option>
  </select>
  <br>

  <label for="cat_description">Cat Description</label>
  <textarea id="cat_description" name="cat[description]"><%= cat.description %></textarea>
  <br>

  <input type="submit" value="<%= button %>">
</form>
